.main {
  padding-top: 110px;

  .main__inner {
    display: flex;

    .main__content {
      width: 60%;
      margin-right: 192px;
      padding-top: 156px;
      .main__title {
        color: #314584;
        font-size: 7.3rem;
        font-weight: 600;
        letter-spacing: 0.73px;
        min-width: 534px;
        margin-bottom: 4rem;
        @media (max-width:768px) {
          margin-bottom: 2rem;
        }

        @media (max-width:380px) {
          min-width: 0;
          font-size: 5.3rem;
        }
      }

      .main__subtitle {
        color: #6e757a;
        font-size: 1.8rem;
        font-weight: 400;
        line-height: 30px;
        letter-spacing: 0.18px;
        min-width: 556px;
        margin-bottom: 4.2rem;
        @media (max-width:768px) {
          margin-bottom: 2rem;
        }

        @media (max-width:380px) {
          min-width: 0;
          font-size: 1.5rem;
        }
      }
      .main__btns__inner {
        .more-btn {
          @media (max-width:380px) {
            margin: 0 0 1.5rem;
          }
        }
        @media (max-width:380px) {
          display: flex;
          justify-content: center;
          flex-direction: column;
        }
      }

      @media (max-width:768px) {
        margin-right: 0;
        width: 100%;
        max-width: 400px;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 3rem;
        margin-bottom: 4rem;
      }

      @media (max-width:380px) {
        justify-content: center;
        padding-top: 1.5rem;
        margin-bottom: 2rem;
      }
    }

    .main__slider {
      width: 680px;
      outline: none;
      position: relative;

      .slick-slide {
        cursor: pointer;
        &:focus, a {
          outline: none;
        }
      }

      .slick-dots {
        display: flex;
        position: absolute;
        bottom: -45px;
        left: 50%;
        li {
          button {
            font-size: 0;
            width: 20px;
            height: 20px;
            border-radius: 50%;
            border: none;
            background: #314584;
            cursor: pointer;
            outline: none;
            margin-right: 5px;
          }
        }

        li.slick-active {
          button {
            background: #ff3946;
            cursor: pointer;
            outline: none;
          }
        }
      }

      @media (max-width:380px) {
        display: none;      
      }
    }

    @media (max-width:1650px) {
      flex-wrap: wrap;
      justify-content: center;
    }

    @media (max-width:768px) {
      flex-wrap: wrap;
      justify-content: center;
    }
  }

  @media (max-width:768px) {
    padding-top: 0;
  }
}